ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: disc;
}

.block {
  background-color: var(--blue);
  backface-visibility: hidden;
  display: block;
  padding: 1em;
  position: relative;
  margin-bottom: 1em;
  min-height: 6em;
}

.block:before {
  background-color: var(--teal);
  content: ' ';
  height: 1.5em;
  position: absolute;
  top: 0; left: 0; right: 0;
  transform: rotateX(90deg) translateZ(0.75em) translateY(-0.75em);
}

.block:after {
  background-color: var(--teal);
  content: ' ';
  filter: brightness(.8);
  position: absolute;
  top: 0; bottom: 0; right: 0;
  transform: rotateY(90deg) translateZ(0.75em) translateX(0.75em);
  width: 1.5em;
}

.block header {
  background-color: var(--pink);
  backface-visibility: hidden;
  color: var(--gray);
  display: flex;
  font-size: 0.8em;
  position: absolute;
  transform: rotateY(180deg);
}

.blockNumber {
  margin: 0;
}
.blockNumber:before {
  content: 'block #';
}

.dateMined:before {
  content: 'created ';
}

a, button {
  background: none;
  border: none;
  color: var(--red);
  cursor: pointer;
  padding: 0;
  margin: 0;
}

a:hover, button:hover, a:focus, button:focus {
  outline: none;
  color: var(--pink);
}

a:active, button:active {
  color: var(--yellow);
}

.transactions {
  transform: rotateY(180deg);
  display: none;
}
.transactions, .transaction {
  position: absolute;
  top: 0; bottom: 0; right: 0; left: 0;
}
.transaction {
  padding: 1em;
  overflow: hidden;
}
.transaction:nth-child(2n) {
  background-color: var(--blue);
}
.transaction:nth-child(2n-1) {
  background-color: var(--pink);
}
