html {
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
  font-size: calc(.85em + 1vw);
  line-height: 1.3;
}

body {
  margin: 0 auto;
  max-width: 40em;
  padding: 1em;
  --pink: #e7747b;
  --red: #b34b40;
  --yellow: #e6bb5b;
  --teal: #1b8492;
  --gray: #bbb;
}

h1 {
  font-weight: normal;
}

h1 small {
  display: block;
  font-size: 0.6em;
  line-height: 0.5;
}

.standout {
  text-transform: uppercase;
  font-weight: bold;
  color: var(--gray);
  text-shadow:
    -4px 4px 0 var(--red),
    -8px 8px 0 var(--yellow),
    -12px 12px 0 var(--teal),
    -16px 16px 0 var(--pink)
  ;
}

button {
  color: inherit;
  font: inherit;
}
