.blockNumber:before {
  content: 'block #';
}

.dateMined:before {
  content: 'created ';
}

// block container, but also front of block
.block {
  background-color: var(--blue);
  padding: 1em;
  position: relative;
  margin-bottom: 1em;

  #opened-block & {
    pointer-events: none;
    user-select: none;
    margin-bottom: 1.5em;
  }

  &:before, &:after {
    position: absolute;
  }

  &:before {
    background-color: var(--teal);
    content: ' ';
    height: 1.5em;
    top: 0; left: 0; right: 0;
    transform: rotateX(90deg) translateZ(0.75em) translateY(-0.75em);
  }

  &:after {
    background-color: var(--teal);
    content: ' ';
    filter: brightness(.8);
    top: 0; bottom: 0; right: 0;
    transform: rotateY(90deg) translateZ(0.75em) translateX(0.75em);
    width: 1.5em;
  }

  /* opened block is still in the list, with clone shown over top */
  &.opened {
    visibility: hidden;
  }

  h2 {
    margin: 0;
  }

  header {
    display: flex;
    & > div { flex: 1 }
    a {
      color: black;
      text-decoration: none;
      padding: 0 0.5em;
    }
  }
}

.block-back {
  border: 2px solid var(--teal);
  position: absolute;
  top: 0; bottom: 0; right: 0; left: 0;
  transform: rotateY(180deg) translateZ(1.5em);
  background-color: var(--blue);
  overflow: hidden;
  padding: 1em;

  pointer-events: none;
  user-select: none;
  #opened-block & {
    pointer-events: auto;
    user-select: auto;
  }

  .inner {
    width: calc(100vw - 2em);
    #opened-block & {
      width: 100%;
      padding-bottom: 1em;
    }
  }

  .transactions {
    padding: 0;
    margin: 0;
    display: grid;
    grid-column-gap: 0.5em;
    grid-row-gap: 0.5em;
    grid-template-columns: repeat(auto-fill, minmax(6em, 1fr));
  }

  .transaction {
    .sender { grid-area: sender }
    .sent { grid-area: sent }
    .amount { grid-area: amount }
    .to { grid-area: to }
    .receiver { grid-area: receiver }

    overflow: hidden;
    border: 1px solid var(--teal);
    border-radius: 4px;
    padding: 0.5em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    align-items: center;
    grid-template-areas:
      " sender   sender   sender"
      "  sent    amount     to"
      "receiver receiver receiver"
    ;

    .sender, .receiver {
      display: flex;
      align-items: center;
    }

    .sender:after, .receiver:before {
      content: attr(title);
      font-size: 0.3em;
      font-family: monospace;
      color: var(--gray);
      word-break: break-all;
      display: inline-block;
    }
    .sender:after { margin-left: 0.5em }
    .receiver:before { margin-right: 0.5em }

    .amount {
      border: 1px solid var(--teal);
      text-align: center;
      border-radius: 10em;
      padding: 0.25em 0.5em;

      // &:after {
      //   content: "ether";
      //   display: block;
      //   font-size: 0.25em;
      //   line-height: .7;
      //   color: var(--gray);
      // }
      // &:before {
      //   content: "Ξ";
      //   font-size: 0.5em;
      //   color: var(--gray);
      //   vertical-align: super;
      //   margin-top: 0.25em;
      // }
    }

    .sent, .to {
      text-indent: -3000em;
    }
    .sent {
      border-bottom: 1px solid var(--teal);
      border-left: 1px solid var(--teal);
      position: relative;
      top: -0.6em;
      width: 63%;
      justify-self: end;
    }
    .to {
      border-top: 1px solid var(--teal);
      border-right: 1px solid var(--teal);
      position: relative;
      bottom: -0.5em;
      width: 63%;
      height: 50%;

      &:after {
        content: ' ';
        display: block;
        width: 0;
        height: 0;
        border: 5px solid transparent;
        border-top: 10px solid var(--teal);
        position: absolute;
        bottom: -7px;
        right: -5px;
      }
    }

    .receiver {
      text-align: right;
      justify-self: end;
    }
  }
}
