.blockNumber:before {
  content: 'block #';
}

.dateMined:before {
  content: 'created ';
}

// block container, but also front of block
.block {
  background-color: var(--blue);
  padding: 1em;
  position: relative;
  margin-bottom: 1em;

  #opened-block & {
    pointer-events: none;
    user-select: none;
    margin-bottom: 1.5em;
  }

  &:before, &:after {
    position: absolute;
  }

  &:before {
    background-color: var(--teal);
    content: ' ';
    height: 1.5em;
    top: 0; left: 0; right: 0;
    transform: rotateX(90deg) translateZ(0.75em) translateY(-0.75em);
  }

  &:after {
    background-color: var(--teal);
    content: ' ';
    filter: brightness(.8);
    top: 0; bottom: 0; right: 0;
    transform: rotateY(90deg) translateZ(0.75em) translateX(0.75em);
    width: 1.5em;
  }

  /* opened block is still in the list, with clone shown over top */
  &.opened {
    visibility: hidden;
  }

  h2 {
    margin: 0;
  }
}

.block-back {
  border: 2px solid var(--teal);
  position: absolute;
  top: 0; bottom: 0; right: 0; left: 0;
  transform: rotateY(180deg) translateZ(1.5em);
  background-color: var(--blue);
  overflow: hidden;
  padding: 1em;

  pointer-events: none;
  user-select: none;
  #opened-block & {
    pointer-events: auto;
    user-select: auto;
  }

  .inner {
    width: calc(100vw - 2em);
    #opened-block & {
      width: 100%;
    }
  }

  .transactions {
    display: grid;
    grid-column-gap: 0.5em;
    grid-row-gap: 0.5em;
    grid-template-columns: repeat(auto-fill, minmax(7em, 1fr));
  }

  .transaction {
    overflow: hidden;
  }
}
